:root {
    // Theme colors
    --dark: #111111;
    --light: #fafafa;
    --primary: #fff;
    --secondary: #000;

    --accent-0: #fff;
    --accent-1: #fafafa;
    --accent-2: #eaeaea;
    --accent-3: #cccccc;
    --accent-4: #888888;
    --accent-5: #666666;
    --accent-6: #444444;
    --accent-7: #333333;
    --accent-8: #111111;
    --accent-9: #000;

    // Sizes
    --desktop: 900px;
    --tablet: 600px;
    --mobile: 480px;
    --xs: 320px;
}
