@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow-xs {
    text-shadow: 0 0 2px var(--tw-shadow-color);
  }

  .text-shadow {
    text-shadow: 0 0 2px var(--tw-shadow-color);
  }

  .text-shadow-xl {
    text-shadow: 0 0 4px var(--tw-shadow-color);
  }

  .text-shadow-none {
    text-shadow: none;
  }
}

.no-scroll {
  @apply overflow-hidden;
}

body {
  #nprogress {
    .spinner {
      @apply hidden;
    }
  }
}


