@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables";

@layer utilities {
  .text-shadow-xs {
    text-shadow: 0 0 2px var(--tw-shadow-color);
  }

  .text-shadow {
    text-shadow: 0 0 2px var(--tw-shadow-color);
  }

  .text-shadow-none {
    text-shadow: none;
  }
}
